<!DOCTYPE html>
<html lang="es" >
<head>
<meta charset="UTF-8">
<title>ITBANK Landing page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body style="background-image: url();background-repeat: no-repeat; background-size: auto">
    
<div class="container">
    <div class="mt-5">
        <h1 class="text-center m-5">¡Bienvenido a ITBANK!</h1>
        <div class="d-grid gap-2 col-4 mx-auto">
            <a href="{% url 'login' %}" class="btn btn-primary ">Iniciar sesión</a>
        </div>
    </div>
</div>


  
</body>
</html>
